<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>tnum</key>
		<array>
			<string>zero</string>
			<string>one</string>
			<string>two</string>
			<string>three</string>
			<string>four</string>
			<string>five</string>
			<string>six</string>
			<string>seven</string>
			<string>eight</string>
			<string>nine</string>
		</array>
		<key>tnum2</key>
		<array>
			<string>zero.tnum</string>
			<string>one.tnum</string>
			<string>two.tnum</string>
			<string>three.tnum</string>
			<string>four.tnum</string>
			<string>five.tnum</string>
			<string>six.tnum</string>
			<string>seven.tnum</string>
			<string>eight.tnum</string>
			<string>nine.tnum</string>
		</array>
	</dict>
</plist>
