<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>O</key>
  <string>O_.glif</string>
  <key>aogonek</key>
  <string>aogonek.glif</string>
  <key>element</key>
  <string>element.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>squaredtimes</key>
  <string>squaredtimes.glif</string>
  <key>uni0256</key>
  <string>uni0256.glif</string>
  <key>uni041A.sc</key>
  <string>uni041A_.sc.glif</string>
  <key>uni042A</key>
  <string>uni042A_.glif</string>
  <key>uni1DA2</key>
  <string>uni1D_A_2.glif</string>
</dict>
</plist>
