<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>c2sc</key>
		<array>
			<string>A</string>
			<string>AE</string>
			<string>Aacute</string>
			<string>Acircumflex</string>
			<string>Adieresis</string>
			<string>Agrave</string>
			<string>Aring</string>
			<string>Atilde</string>
			<string>B</string>
			<string>C</string>
			<string>Ccaron</string>
			<string>Ccedilla</string>
			<string>D</string>
			<string>Dcaron</string>
			<string>E</string>
			<string>Eacute</string>
			<string>Ebreve</string>
			<string>Ecaron</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Egrave</string>
			<string>Emacron</string>
			<string>Eth</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>I</string>
			<string>Iacute</string>
			<string>Ibreve</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Igrave</string>
			<string>Imacron</string>
			<string>Itilde</string>
			<string>J</string>
			<string>Jcircumflex</string>
			<string>K</string>
			<string>L</string>
			<string>Lacute</string>
			<string>Lcaron</string>
			<string>M</string>
			<string>N</string>
			<string>Nacute</string>
			<string>Ncaron</string>
			<string>Ntilde</string>
			<string>O</string>
			<string>Oacute</string>
			<string>Obreve</string>
			<string>Ocircumflex</string>
			<string>Odieresis</string>
			<string>Ograve</string>
			<string>Omacron</string>
			<string>Oslash</string>
			<string>Otilde</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>Racute</string>
			<string>Rcaron</string>
			<string>S</string>
			<string>Sacute</string>
			<string>Scaron</string>
			<string>Scircumflex</string>
			<string>T</string>
			<string>Tcaron</string>
			<string>Thorn</string>
			<string>U</string>
			<string>Uacute</string>
			<string>Ubreve</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Ugrave</string>
			<string>Umacron</string>
			<string>Uring</string>
			<string>V</string>
			<string>W</string>
			<string>Wcircumflex</string>
			<string>X</string>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ycircumflex</string>
			<string>Ydieresis</string>
			<string>Z</string>
			<string>Zacute</string>
			<string>Zcaron</string>
			<string>Zdotaccent</string>
			<string>a</string>
			<string>aacute</string>
			<string>abreve</string>
			<string>amacron</string>
			<string>uni0400</string>
			<string>uni0401</string>
			<string>uni0402</string>
			<string>uni0403</string>
			<string>uni0404</string>
			<string>uni0405</string>
			<string>uni0406</string>
			<string>uni0407</string>
			<string>uni0408</string>
			<string>uni0409</string>
			<string>uni040A</string>
			<string>uni040B</string>
			<string>uni040C</string>
			<string>uni040D</string>
			<string>uni040E</string>
			<string>uni040F</string>
			<string>uni0410</string>
			<string>uni0411</string>
			<string>uni0412</string>
			<string>uni0413</string>
			<string>uni0414</string>
			<string>uni0415</string>
			<string>uni0416</string>
			<string>uni0417</string>
			<string>uni0418</string>
			<string>uni0419</string>
			<string>uni041A</string>
			<string>uni041B</string>
			<string>uni041C</string>
			<string>uni041D</string>
			<string>uni041E</string>
			<string>uni041F</string>
			<string>uni0420</string>
			<string>uni0421</string>
			<string>uni0422</string>
			<string>uni0423</string>
			<string>uni0424</string>
			<string>uni0425</string>
			<string>uni0426</string>
			<string>uni0427</string>
			<string>uni0428</string>
			<string>uni0429</string>
			<string>uni042A</string>
			<string>uni042B</string>
			<string>uni042C</string>
			<string>uni042D</string>
			<string>uni042E</string>
			<string>uni042F</string>
		</array>
		<key>c2sc2</key>
		<array>
			<string>A.sc</string>
			<string>AE.sc</string>
			<string>Aacute.sc</string>
			<string>Acircumflex.sc</string>
			<string>Adieresis.sc</string>
			<string>Agrave.sc</string>
			<string>Aring.sc</string>
			<string>Atilde.sc</string>
			<string>B.sc</string>
			<string>C.sc</string>
			<string>Ccaron.sc</string>
			<string>Ccedilla.sc</string>
			<string>D.sc</string>
			<string>Dcaron.sc</string>
			<string>E.sc</string>
			<string>Eacute.sc</string>
			<string>Ebreve.sc</string>
			<string>Ecaron.sc</string>
			<string>Ecircumflex.sc</string>
			<string>Edieresis.sc</string>
			<string>Egrave.sc</string>
			<string>Emacron.sc</string>
			<string>Eth.sc</string>
			<string>F.sc</string>
			<string>G.sc</string>
			<string>H.sc</string>
			<string>I.sc</string>
			<string>Iacute.sc</string>
			<string>Ibreve.sc</string>
			<string>Icircumflex.sc</string>
			<string>Idieresis.sc</string>
			<string>Igrave.sc</string>
			<string>Imacron.sc</string>
			<string>Itilde.sc</string>
			<string>J.sc</string>
			<string>Jcircumflex.sc</string>
			<string>K.sc</string>
			<string>L.sc</string>
			<string>Lacute.sc</string>
			<string>Lcaron.sc</string>
			<string>M.sc</string>
			<string>N.sc</string>
			<string>Nacute.sc</string>
			<string>Ncaron.sc</string>
			<string>Ntilde.sc</string>
			<string>O.sc</string>
			<string>Oacute.sc</string>
			<string>Obreve.sc</string>
			<string>Ocircumflex.sc</string>
			<string>Odieresis.sc</string>
			<string>Ograve.sc</string>
			<string>Omacron.sc</string>
			<string>Oslash.sc</string>
			<string>Otilde.sc</string>
			<string>P.sc</string>
			<string>Q.sc</string>
			<string>R.sc</string>
			<string>Racute.sc</string>
			<string>Rcaron.sc</string>
			<string>S.sc</string>
			<string>Sacute.sc</string>
			<string>Scaron.sc</string>
			<string>Scircumflex.sc</string>
			<string>T.sc</string>
			<string>Tcaron.sc</string>
			<string>Thorn.sc</string>
			<string>U.sc</string>
			<string>Uacute.sc</string>
			<string>Ubreve.sc</string>
			<string>Ucircumflex.sc</string>
			<string>Udieresis.sc</string>
			<string>Ugrave.sc</string>
			<string>Umacron.sc</string>
			<string>Uring.sc</string>
			<string>V.sc</string>
			<string>W.sc</string>
			<string>Wcircumflex.sc</string>
			<string>X.sc</string>
			<string>Y.sc</string>
			<string>Yacute.sc</string>
			<string>Ycircumflex.sc</string>
			<string>Ydieresis.sc</string>
			<string>Z.sc</string>
			<string>Zacute.sc</string>
			<string>Zcaron.sc</string>
			<string>Zdotaccent.sc</string>
			<string>a.sc</string>
			<string>aacute.sc</string>
			<string>abreve.sc</string>
			<string>amacron.sc</string>
			<string>uni0400.sc</string>
			<string>uni0401.sc</string>
			<string>uni0402.sc</string>
			<string>uni0403.sc</string>
			<string>uni0404.sc</string>
			<string>uni0405.sc</string>
			<string>uni0406.sc</string>
			<string>uni0407.sc</string>
			<string>uni0408.sc</string>
			<string>uni0409.sc</string>
			<string>uni040A.sc</string>
			<string>uni040B.sc</string>
			<string>uni040C.sc</string>
			<string>uni040D.sc</string>
			<string>uni040E.sc</string>
			<string>uni040F.sc</string>
			<string>uni0410.sc</string>
			<string>uni0411.sc</string>
			<string>uni0412.sc</string>
			<string>uni0413.sc</string>
			<string>uni0414.sc</string>
			<string>uni0415.sc</string>
			<string>uni0416.sc</string>
			<string>uni0417.sc</string>
			<string>uni0418.sc</string>
			<string>uni0419.sc</string>
			<string>uni041A.sc</string>
			<string>uni041B.sc</string>
			<string>uni041C.sc</string>
			<string>uni041D.sc</string>
			<string>uni041E.sc</string>
			<string>uni041F.sc</string>
			<string>uni0420.sc</string>
			<string>uni0421.sc</string>
			<string>uni0422.sc</string>
			<string>uni0423.sc</string>
			<string>uni0424.sc</string>
			<string>uni0425.sc</string>
			<string>uni0426.sc</string>
			<string>uni0427.sc</string>
			<string>uni0428.sc</string>
			<string>uni0429.sc</string>
			<string>uni042A.sc</string>
			<string>uni042B.sc</string>
			<string>uni042C.sc</string>
			<string>uni042D.sc</string>
			<string>uni042E.sc</string>
			<string>uni042F.sc</string>
		</array>
		<key>tnum</key>
		<array>
			<string>zero</string>
			<string>one</string>
			<string>two</string>
			<string>three</string>
			<string>four</string>
			<string>five</string>
			<string>six</string>
			<string>seven</string>
			<string>eight</string>
			<string>nine</string>
		</array>
		<key>tnum2</key>
		<array>
			<string>zero.tnum</string>
			<string>one.tnum</string>
			<string>two.tnum</string>
			<string>three.tnum</string>
			<string>four.tnum</string>
			<string>five.tnum</string>
			<string>six.tnum</string>
			<string>seven.tnum</string>
			<string>eight.tnum</string>
			<string>nine.tnum</string>
		</array>
	</dict>
</plist>
