<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>c2sc</key>
  <array>
    <string>A</string>
    <string>AE</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Aring</string>
    <string>Atilde</string>
    <string>B</string>
    <string>C</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>D</string>
    <string>Dcaron</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ebreve</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Eth</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>Iacute</string>
    <string>Ibreve</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Itilde</string>
    <string>J</string>
    <string>Jcircumflex</string>
    <string>K</string>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>M</string>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ntilde</string>
    <string>O</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Omacron</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>S</string>
    <string>Sacute</string>
    <string>Scircumflex</string>
    <string>T</string>
    <string>Tcaron</string>
    <string>Thorn</string>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Umacron</string>
    <string>Uring</string>
    <string>V</string>
    <string>W</string>
    <string>Wcircumflex</string>
    <string>X</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>a</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>amacron</string>
    <string>uni0400</string>
    <string>uni0401</string>
    <string>uni0402</string>
    <string>uni0403</string>
    <string>uni0404</string>
    <string>uni0405</string>
    <string>uni0406</string>
    <string>uni0407</string>
    <string>uni0408</string>
    <string>uni0409</string>
    <string>uni040A</string>
    <string>uni040B</string>
    <string>uni040C</string>
    <string>uni040D</string>
    <string>uni040E</string>
    <string>uni040F</string>
    <string>uni0410</string>
    <string>uni0411</string>
    <string>uni0412</string>
    <string>uni0413</string>
    <string>uni0414</string>
    <string>uni0415</string>
    <string>uni0416</string>
    <string>uni0417</string>
    <string>uni0418</string>
    <string>uni0419</string>
    <string>uni041A</string>
    <string>uni041B</string>
    <string>uni041C</string>
    <string>uni041D</string>
    <string>uni041E</string>
    <string>uni041F</string>
    <string>uni0420</string>
    <string>uni0421</string>
    <string>uni0422</string>
    <string>uni0423</string>
    <string>uni0424</string>
    <string>uni0425</string>
    <string>uni0426</string>
    <string>uni0427</string>
    <string>uni0428</string>
    <string>uni0429</string>
    <string>uni042A</string>
    <string>uni042B</string>
    <string>uni042C</string>
    <string>uni042D</string>
    <string>uni042E</string>
    <string>uni042F</string>
  </array>
  <key>c2sc2</key>
  <array>
    <string>A.sc</string>
    <string>AE.sc</string>
    <string>Aacute.sc</string>
    <string>Acircumflex.sc</string>
    <string>Adieresis.sc</string>
    <string>Agrave.sc</string>
    <string>Aring.sc</string>
    <string>Atilde.sc</string>
    <string>B.sc</string>
    <string>C.sc</string>
    <string>Ccaron.sc</string>
    <string>Ccedilla.sc</string>
    <string>D.sc</string>
    <string>Dcaron.sc</string>
    <string>E.sc</string>
    <string>Eacute.sc</string>
    <string>Ebreve.sc</string>
    <string>Ecaron.sc</string>
    <string>Ecircumflex.sc</string>
    <string>Edieresis.sc</string>
    <string>Egrave.sc</string>
    <string>Emacron.sc</string>
    <string>Eth.sc</string>
    <string>F.sc</string>
    <string>G.sc</string>
    <string>H.sc</string>
    <string>I.sc</string>
    <string>Iacute.sc</string>
    <string>Ibreve.sc</string>
    <string>Icircumflex.sc</string>
    <string>Idieresis.sc</string>
    <string>Igrave.sc</string>
    <string>Imacron.sc</string>
    <string>Itilde.sc</string>
    <string>J.sc</string>
    <string>Jcircumflex.sc</string>
    <string>K.sc</string>
    <string>L.sc</string>
    <string>Lacute.sc</string>
    <string>Lcaron.sc</string>
    <string>M.sc</string>
    <string>N.sc</string>
    <string>Nacute.sc</string>
    <string>Ncaron.sc</string>
    <string>Ntilde.sc</string>
    <string>O.sc</string>
    <string>Oacute.sc</string>
    <string>Obreve.sc</string>
    <string>Ocircumflex.sc</string>
    <string>Odieresis.sc</string>
    <string>Ograve.sc</string>
    <string>Omacron.sc</string>
    <string>Oslash.sc</string>
    <string>Otilde.sc</string>
    <string>P.sc</string>
    <string>Q.sc</string>
    <string>R.sc</string>
    <string>Racute.sc</string>
    <string>Rcaron.sc</string>
    <string>S.sc</string>
    <string>Sacute.sc</string>
    <string>Scircumflex.sc</string>
    <string>T.sc</string>
    <string>Tcaron.sc</string>
    <string>Thorn.sc</string>
    <string>U.sc</string>
    <string>Uacute.sc</string>
    <string>Ubreve.sc</string>
    <string>Ucircumflex.sc</string>
    <string>Udieresis.sc</string>
    <string>Ugrave.sc</string>
    <string>Umacron.sc</string>
    <string>Uring.sc</string>
    <string>V.sc</string>
    <string>W.sc</string>
    <string>Wcircumflex.sc</string>
    <string>X.sc</string>
    <string>Y.sc</string>
    <string>Yacute.sc</string>
    <string>Ycircumflex.sc</string>
    <string>Ydieresis.sc</string>
    <string>Z.sc</string>
    <string>Zacute.sc</string>
    <string>Zcaron.sc</string>
    <string>Zdotaccent.sc</string>
    <string>a.sc</string>
    <string>aacute.sc</string>
    <string>abreve.sc</string>
    <string>amacron.sc</string>
    <string>uni0400.sc</string>
    <string>uni0401.sc</string>
    <string>uni0402.sc</string>
    <string>uni0403.sc</string>
    <string>uni0404.sc</string>
    <string>uni0405.sc</string>
    <string>uni0406.sc</string>
    <string>uni0407.sc</string>
    <string>uni0408.sc</string>
    <string>uni0409.sc</string>
    <string>uni040A.sc</string>
    <string>uni040B.sc</string>
    <string>uni040C.sc</string>
    <string>uni040D.sc</string>
    <string>uni040E.sc</string>
    <string>uni040F.sc</string>
    <string>uni0410.sc</string>
    <string>uni0411.sc</string>
    <string>uni0412.sc</string>
    <string>uni0413.sc</string>
    <string>uni0414.sc</string>
    <string>uni0415.sc</string>
    <string>uni0416.sc</string>
    <string>uni0417.sc</string>
    <string>uni0418.sc</string>
    <string>uni0419.sc</string>
    <string>uni041A.sc</string>
    <string>uni041B.sc</string>
    <string>uni041C.sc</string>
    <string>uni041D.sc</string>
    <string>uni041E.sc</string>
    <string>uni041F.sc</string>
    <string>uni0420.sc</string>
    <string>uni0421.sc</string>
    <string>uni0422.sc</string>
    <string>uni0423.sc</string>
    <string>uni0424.sc</string>
    <string>uni0425.sc</string>
    <string>uni0426.sc</string>
    <string>uni0427.sc</string>
    <string>uni0428.sc</string>
    <string>uni0429.sc</string>
    <string>uni042A.sc</string>
    <string>uni042B.sc</string>
    <string>uni042C.sc</string>
    <string>uni042D.sc</string>
    <string>uni042E.sc</string>
    <string>uni042F.sc</string>
  </array>
  <key>case</key>
  <array>
    <string>acute</string>
    <string>caron</string>
    <string>dieresis</string>
    <string>grave</string>
    <string>hungarumlaut</string>
    <string>macron</string>
    <string>uni0307</string>
    <string>uni0308</string>
    <string>uni030B</string>
    <string>uni030F</string>
    <string>uni0311</string>
    <string>uni0324</string>
    <string>uni0325</string>
    <string>uni032D</string>
    <string>uni032E</string>
    <string>uni0330</string>
    <string>uni0331</string>
    <string>brevecyr</string>
    <string>uni0306</string>
    <string>uni030C</string>
    <string>uni0302</string>
    <string>uni0304</string>
    <string>uni030A</string>
  </array>
  <key>case2</key>
  <array>
    <string>acute.cap</string>
    <string>caron.cap</string>
    <string>dieresis.cap</string>
    <string>grave.cap</string>
    <string>hungarumlaut.cap</string>
    <string>macron.cap</string>
    <string>uni0307.cap</string>
    <string>uni0308.cap</string>
    <string>uni030B.cap</string>
    <string>uni030F.cap</string>
    <string>uni0311.cap</string>
    <string>uni0324.cap</string>
    <string>uni0325.cap</string>
    <string>uni032D.cap</string>
    <string>uni032E.cap</string>
    <string>uni0330.cap</string>
    <string>uni0331.cap</string>
    <string>brevecyr.cap</string>
    <string>uni0306.cap</string>
    <string>uni030C.cap</string>
    <string>uni0302.cap</string>
    <string>uni0304.cap</string>
    <string>uni030A.cap</string>
  </array>
  <key>locl</key>
  <array>
    <string>uni0414</string>
    <string>uni0416</string>
    <string>uni041A</string>
    <string>uni041B</string>
    <string>uni0424</string>
    <string>uni0432</string>
    <string>uni0433</string>
    <string>uni0434</string>
    <string>uni0436</string>
    <string>uni0437</string>
    <string>uni0438</string>
    <string>uni0439</string>
    <string>uni043A</string>
    <string>uni043B</string>
    <string>uni043D</string>
    <string>uni043F</string>
    <string>uni0442</string>
    <string>uni0444</string>
    <string>uni0446</string>
    <string>uni0447</string>
    <string>uni0448</string>
    <string>uni0449</string>
    <string>uni044A</string>
    <string>uni044B</string>
    <string>uni044C</string>
    <string>uni044E</string>
    <string>uni045D</string>
  </array>
  <key>locl2</key>
  <array>
    <string>uni0414.loclBGR</string>
    <string>uni0416.loclBGR</string>
    <string>uni041A.loclBGR</string>
    <string>uni041B.loclBGR</string>
    <string>uni0424.loclBGR</string>
    <string>uni0432.loclBGR</string>
    <string>uni0433.loclBGR</string>
    <string>uni0434.loclBGR</string>
    <string>uni0436.loclBGR</string>
    <string>uni0437.loclBGR</string>
    <string>uni0438.loclBGR</string>
    <string>uni0439.loclBGR</string>
    <string>uni043A.loclBGR</string>
    <string>uni043B.loclBGR</string>
    <string>uni043D.loclBGR</string>
    <string>uni043F.loclBGR</string>
    <string>uni0442.loclBGR</string>
    <string>uni0444.loclBGR</string>
    <string>uni0446.loclBGR</string>
    <string>uni0447.loclBGR</string>
    <string>uni0448.loclBGR</string>
    <string>uni0449.loclBGR</string>
    <string>uni044A.loclBGR</string>
    <string>uni044B.loclBGR</string>
    <string>uni044C.loclBGR</string>
    <string>uni044E.loclBGR</string>
    <string>uni045D.loclBGR</string>
  </array>
  <key>numb</key>
  <array>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
  </array>
  <key>osf</key>
  <array>
    <string>zero.osf</string>
    <string>one.osf</string>
    <string>two.osf</string>
    <string>three.osf</string>
    <string>four.osf</string>
    <string>five.osf</string>
    <string>six.osf</string>
    <string>seven.osf</string>
    <string>eight.osf</string>
    <string>nine.osf</string>
  </array>
  <key>sinf_subs</key>
  <array>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>parenleft</string>
    <string>parenright</string>
  </array>
  <key>sinf_subs2</key>
  <array>
    <string>uni2080</string>
    <string>uni2081</string>
    <string>uni2082</string>
    <string>uni2083</string>
    <string>uni2084</string>
    <string>uni2085</string>
    <string>uni2086</string>
    <string>uni2087</string>
    <string>uni2088</string>
    <string>uni2089</string>
    <string>parenleft.inferior</string>
    <string>parenright.inferior</string>
  </array>
  <key>smcp</key>
  <array>
    <string>a</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>ae</string>
    <string>agrave</string>
    <string>amacron</string>
    <string>aring</string>
    <string>atilde</string>
    <string>b</string>
    <string>c</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>d</string>
    <string>dcaron</string>
    <string>dotlessi</string>
    <string>e</string>
    <string>eacute</string>
    <string>ebreve</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>egrave</string>
    <string>emacron</string>
    <string>eth</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>iacute</string>
    <string>ibreve</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>imacron</string>
    <string>itilde</string>
    <string>j</string>
    <string>jcircumflex</string>
    <string>k</string>
    <string>l</string>
    <string>lacute</string>
    <string>lcaron</string>
    <string>m</string>
    <string>n</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>ntilde</string>
    <string>o</string>
    <string>oacute</string>
    <string>obreve</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>ograve</string>
    <string>omacron</string>
    <string>oslash</string>
    <string>otilde</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>s</string>
    <string>sacute</string>
    <string>scircumflex</string>
    <string>t</string>
    <string>tcaron</string>
    <string>thorn</string>
    <string>u</string>
    <string>uacute</string>
    <string>ubreve</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>umacron</string>
    <string>uni0430</string>
    <string>uni0431</string>
    <string>uni0432</string>
    <string>uni0433</string>
    <string>uni0434</string>
    <string>uni0435</string>
    <string>uni0436</string>
    <string>uni0437</string>
    <string>uni0438</string>
    <string>uni0439</string>
    <string>uni043A</string>
    <string>uni043B</string>
    <string>uni043C</string>
    <string>uni043D</string>
    <string>uni043E</string>
    <string>uni043F</string>
    <string>uni0440</string>
    <string>uni0441</string>
    <string>uni0442</string>
    <string>uni0443</string>
    <string>uni0444</string>
    <string>uni0445</string>
    <string>uni0446</string>
    <string>uni0447</string>
    <string>uni0448</string>
    <string>uni0449</string>
    <string>uni044A</string>
    <string>uni044B</string>
    <string>uni044C</string>
    <string>uni044D</string>
    <string>uni044E</string>
    <string>uni044F</string>
    <string>uni0450</string>
    <string>uni0451</string>
    <string>uni0452</string>
    <string>uni0453</string>
    <string>uni0454</string>
    <string>uni0455</string>
    <string>uni0456</string>
    <string>uni0457</string>
    <string>uni0458</string>
    <string>uni0459</string>
    <string>uni045A</string>
    <string>uni045B</string>
    <string>uni045C</string>
    <string>uni045D</string>
    <string>uni045E</string>
    <string>uni045F</string>
    <string>uni0463</string>
    <string>uni0473</string>
    <string>uni0475</string>
    <string>uni04A5</string>
    <string>uni04AF</string>
    <string>uni04B1</string>
    <string>uni04C2</string>
    <string>uni04D1</string>
    <string>uni04D3</string>
    <string>uni04D5</string>
    <string>uni04D7</string>
    <string>uni04DD</string>
    <string>uni04DF</string>
    <string>uni04E3</string>
    <string>uni04E5</string>
    <string>uni04E7</string>
    <string>uni04E9</string>
    <string>uni04EB</string>
    <string>uni04ED</string>
    <string>uni04EF</string>
    <string>uni04F1</string>
    <string>uni04F5</string>
    <string>uni04F9</string>
    <string>uni0432.loclBGR</string>
    <string>uni0433.loclBGR</string>
    <string>uni0434.loclBGR</string>
    <string>uni0436.loclBGR</string>
    <string>uni0437.loclBGR</string>
    <string>uni0438.loclBGR</string>
    <string>uni0439.loclBGR</string>
    <string>uni043A.loclBGR</string>
    <string>uni043B.loclBGR</string>
    <string>uni043D.loclBGR</string>
    <string>uni043F.loclBGR</string>
    <string>uni0442.loclBGR</string>
    <string>uni0444.loclBGR</string>
    <string>uni0446.loclBGR</string>
    <string>uni0447.loclBGR</string>
    <string>uni0448.loclBGR</string>
    <string>uni0449.loclBGR</string>
    <string>uni044A.loclBGR</string>
    <string>uni044B.loclBGR</string>
    <string>uni044C.loclBGR</string>
    <string>uni044E.loclBGR</string>
    <string>uni045D.loclBGR</string>
    <string>uring</string>
    <string>v</string>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
    <string>x</string>
    <string>y</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
  </array>
  <key>smcp2</key>
  <array>
    <string>a.sc</string>
    <string>aacute.sc</string>
    <string>abreve.sc</string>
    <string>Acircumflex.sc</string>
    <string>Adieresis.sc</string>
    <string>AE.sc</string>
    <string>Agrave.sc</string>
    <string>amacron.sc</string>
    <string>Aring.sc</string>
    <string>Atilde.sc</string>
    <string>B.sc</string>
    <string>C.sc</string>
    <string>Ccaron.sc</string>
    <string>Ccedilla.sc</string>
    <string>D.sc</string>
    <string>Dcaron.sc</string>
    <string>dotlessi.small</string>
    <string>E.sc</string>
    <string>Eacute.sc</string>
    <string>Ebreve.sc</string>
    <string>Ecaron.sc</string>
    <string>Ecircumflex.sc</string>
    <string>Edieresis.sc</string>
    <string>Egrave.sc</string>
    <string>Emacron.sc</string>
    <string>Eth.sc</string>
    <string>F.sc</string>
    <string>G.sc</string>
    <string>H.sc</string>
    <string>I.sc</string>
    <string>Iacute.sc</string>
    <string>Ibreve.sc</string>
    <string>Icircumflex.sc</string>
    <string>Idieresis.sc</string>
    <string>Igrave.sc</string>
    <string>Imacron.sc</string>
    <string>Itilde.sc</string>
    <string>J.sc</string>
    <string>Jcircumflex.sc</string>
    <string>K.sc</string>
    <string>L.sc</string>
    <string>Lacute.sc</string>
    <string>Lcaron.sc</string>
    <string>M.sc</string>
    <string>N.sc</string>
    <string>Nacute.sc</string>
    <string>Ncaron.sc</string>
    <string>Ntilde.sc</string>
    <string>O.sc</string>
    <string>Oacute.sc</string>
    <string>Obreve.sc</string>
    <string>Ocircumflex.sc</string>
    <string>Odieresis.sc</string>
    <string>Ograve.sc</string>
    <string>Omacron.sc</string>
    <string>Oslash.sc</string>
    <string>Otilde.sc</string>
    <string>P.sc</string>
    <string>Q.sc</string>
    <string>R.sc</string>
    <string>Racute.sc</string>
    <string>Rcaron.sc</string>
    <string>S.sc</string>
    <string>Sacute.sc</string>
    <string>Scircumflex.sc</string>
    <string>T.sc</string>
    <string>Tcaron.sc</string>
    <string>Thorn.sc</string>
    <string>U.sc</string>
    <string>Uacute.sc</string>
    <string>Ubreve.sc</string>
    <string>Ucircumflex.sc</string>
    <string>Udieresis.sc</string>
    <string>Ugrave.sc</string>
    <string>Umacron.sc</string>
    <string>uni0410.sc</string>
    <string>uni0411.sc</string>
    <string>uni0412.sc</string>
    <string>uni0413.sc</string>
    <string>uni0414.sc</string>
    <string>uni0415.sc</string>
    <string>uni0416.sc</string>
    <string>uni0417.sc</string>
    <string>uni0418.sc</string>
    <string>uni0419.sc</string>
    <string>uni041A.sc</string>
    <string>uni041B.sc</string>
    <string>uni041C.sc</string>
    <string>uni041D.sc</string>
    <string>uni041E.sc</string>
    <string>uni041F.sc</string>
    <string>uni0420.sc</string>
    <string>uni0421.sc</string>
    <string>uni0422.sc</string>
    <string>uni0423.sc</string>
    <string>uni0424.sc</string>
    <string>uni0425.sc</string>
    <string>uni0426.sc</string>
    <string>uni0427.sc</string>
    <string>uni0428.sc</string>
    <string>uni0429.sc</string>
    <string>uni042A.sc</string>
    <string>uni042B.sc</string>
    <string>uni042C.sc</string>
    <string>uni042D.sc</string>
    <string>uni042E.sc</string>
    <string>uni042F.sc</string>
    <string>uni0400.sc</string>
    <string>uni0401.sc</string>
    <string>uni0402.sc</string>
    <string>uni0403.sc</string>
    <string>uni0404.sc</string>
    <string>uni0405.sc</string>
    <string>uni0406.sc</string>
    <string>uni0407.sc</string>
    <string>uni0408.sc</string>
    <string>uni0409.sc</string>
    <string>uni040A.sc</string>
    <string>uni040B.sc</string>
    <string>uni040C.sc</string>
    <string>uni045D.sc</string>
    <string>uni040E.sc</string>
    <string>uni040F.sc</string>
    <string>uni0463.sc</string>
    <string>uni0473.sc</string>
    <string>uni0475.sc</string>
    <string>uni04A5.sc</string>
    <string>uni04AF.sc</string>
    <string>uni04B1.sc</string>
    <string>uni04C2.sc</string>
    <string>uni04D1.sc</string>
    <string>uni04D3.sc</string>
    <string>uni04D5.sc</string>
    <string>uni04D7.sc</string>
    <string>uni04DD.sc</string>
    <string>uni04DF.sc</string>
    <string>uni04E3.sc</string>
    <string>uni04E5.sc</string>
    <string>uni04E7.sc</string>
    <string>uni04E9.sc</string>
    <string>uni04EB.sc</string>
    <string>uni04ED.sc</string>
    <string>uni04EF.sc</string>
    <string>uni04F1.sc</string>
    <string>uni04F5.sc</string>
    <string>uni04F9.sc</string>
    <string>uni0412.sc</string>
    <string>uni0413.sc</string>
    <string>uni0414.sc</string>
    <string>uni0416.sc</string>
    <string>uni0417.sc</string>
    <string>uni0418.sc</string>
    <string>uni0419.sc</string>
    <string>uni041A.sc</string>
    <string>uni041B.sc</string>
    <string>uni041D.sc</string>
    <string>uni041F.sc</string>
    <string>uni0422.sc</string>
    <string>uni0424.sc</string>
    <string>uni0426.sc</string>
    <string>uni0427.sc</string>
    <string>uni0428.sc</string>
    <string>uni0429.sc</string>
    <string>uni042A.sc</string>
    <string>uni042B.sc</string>
    <string>uni042C.sc</string>
    <string>uni042E.sc</string>
    <string>uni045D.sc</string>
    <string>Uring.sc</string>
    <string>V.sc</string>
    <string>W.sc</string>
    <string>wacute.sc</string>
    <string>Wcircumflex.sc</string>
    <string>wdieresis.sc</string>
    <string>wgrave.sc</string>
    <string>X.sc</string>
    <string>Y.sc</string>
    <string>Yacute.sc</string>
    <string>Ycircumflex.sc</string>
    <string>Ydieresis.sc</string>
    <string>Z.sc</string>
    <string>Zacute.sc</string>
    <string>Zcaron.sc</string>
    <string>Zdotaccent.sc</string>
  </array>
  <key>subs</key>
  <array>
    <string>uni2080</string>
    <string>uni2081</string>
    <string>uni2082</string>
    <string>uni2083</string>
    <string>uni2084</string>
    <string>uni2085</string>
    <string>uni2086</string>
    <string>uni2087</string>
    <string>uni2088</string>
    <string>uni2089</string>
  </array>
  <key>sups</key>
  <array>
    <string>uni2070</string>
    <string>uni00B9</string>
    <string>uni00B2</string>
    <string>uni00B3</string>
    <string>uni2074</string>
    <string>uni2075</string>
    <string>uni2076</string>
    <string>uni2077</string>
    <string>uni2078</string>
    <string>uni2079</string>
  </array>
  <key>sups.letters</key>
  <array>
    <string>a</string>
    <string>b</string>
    <string>beta</string>
    <string>c</string>
    <string>chi</string>
    <string>d</string>
    <string>e</string>
    <string>eng</string>
    <string>eth</string>
    <string>f</string>
    <string>g</string>
    <string>gamma</string>
    <string>h</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>phi</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>uni0250</string>
    <string>uni0251</string>
    <string>uni0252</string>
    <string>uni0254</string>
    <string>uni0259</string>
    <string>uni025B</string>
    <string>uni025C</string>
    <string>uni0263</string>
    <string>uni0265</string>
    <string>uni0268</string>
    <string>uni0269</string>
    <string>uni026A</string>
    <string>uni026F</string>
    <string>uni0271</string>
    <string>uni0275</string>
    <string>uni0279</string>
    <string>uni0283</string>
    <string>uni0289</string>
    <string>uni028B</string>
    <string>uni028C</string>
    <string>uni0292</string>
    <string>uni0295</string>
    <string>uni043D</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>uni0255</string>
    <string>uni025F</string>
    <string>uni0261</string>
    <string>uni0266</string>
    <string>uni026D</string>
    <string>uni0270</string>
    <string>uni0272</string>
    <string>uni0273</string>
    <string>uni0274</string>
    <string>uni0278</string>
    <string>uni027B</string>
    <string>uni0281</string>
    <string>uni0282</string>
    <string>uni028A</string>
    <string>uni0290</string>
    <string>uni0291</string>
    <string>uni029D</string>
    <string>uni029F</string>
  </array>
  <key>sups.letters2</key>
  <array>
    <string>uni1D43</string>
    <string>uni1D47</string>
    <string>uni1D5D</string>
    <string>uni1D9C</string>
    <string>uni1D61</string>
    <string>uni1D48</string>
    <string>uni1D49</string>
    <string>uni1D51</string>
    <string>uni1D9E</string>
    <string>uni1DA0</string>
    <string>uni1D4D</string>
    <string>uni1D5E</string>
    <string>uni02B0</string>
    <string>uni02B2</string>
    <string>uni1D4F</string>
    <string>uni02E1</string>
    <string>uni1D50</string>
    <string>uni207F</string>
    <string>uni1D52</string>
    <string>uni1D56</string>
    <string>uni1D60</string>
    <string>uni02B3</string>
    <string>uni02E2</string>
    <string>uni1D57</string>
    <string>uni1D58</string>
    <string>uni1D44</string>
    <string>uni1D45</string>
    <string>uni1D9B</string>
    <string>uni1D53</string>
    <string>uni1D4A</string>
    <string>uni1D4B</string>
    <string>uni1D9F</string>
    <string>uni02E0</string>
    <string>uni1DA3</string>
    <string>uni1DA4</string>
    <string>uni1DA5</string>
    <string>uni1DA6</string>
    <string>uni1D5A</string>
    <string>uni1DAC</string>
    <string>uni1DB1</string>
    <string>uni02B4</string>
    <string>uni1DB4</string>
    <string>uni1DB6</string>
    <string>uni1DB9</string>
    <string>uni1DBA</string>
    <string>uni1DBE</string>
    <string>uni02E4</string>
    <string>uni1D78</string>
    <string>uni1D5B</string>
    <string>uni02B7</string>
    <string>uni02E3</string>
    <string>uni02B8</string>
    <string>uni1DBB</string>
    <string>uni1D9D</string>
    <string>uni1DA1</string>
    <string>uni1DA2</string>
    <string>uni02B1</string>
    <string>uni1DA9</string>
    <string>uni1DAD</string>
    <string>uni1DAE</string>
    <string>uni1DAF</string>
    <string>uni1DB0</string>
    <string>uni1DB2</string>
    <string>uni02B5</string>
    <string>uni02B6</string>
    <string>uni1DB3</string>
    <string>uni1DB7</string>
    <string>uni1DBC</string>
    <string>uni1DBD</string>
    <string>uni1DA8</string>
    <string>uni1DAB</string>
  </array>
  <key>tf</key>
  <array>
    <string>zero.tf</string>
    <string>one.tf</string>
    <string>two.tf</string>
    <string>three.tf</string>
    <string>four.tf</string>
    <string>five.tf</string>
    <string>six.tf</string>
    <string>seven.tf</string>
    <string>eight.tf</string>
    <string>nine.tf</string>
  </array>
  <key>tosf</key>
  <array>
    <string>zero.tosf</string>
    <string>one.tosf</string>
    <string>two.tosf</string>
    <string>three.tosf</string>
    <string>four.tosf</string>
    <string>five.tosf</string>
    <string>six.tosf</string>
    <string>seven.tosf</string>
    <string>eight.tosf</string>
    <string>nine.tosf</string>
  </array>
</dict>
</plist>
