<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>uni0187</key>
  <string>uni0187.glif</string>
  <key>uni018E</key>
  <string>uni018E_.glif</string>
  <key>uni0195</key>
  <string>uni0195.glif</string>
  <key>uni0198</key>
  <string>uni0198.glif</string>
  <key>uni0255</key>
  <string>uni0255.glif</string>
  <key>uni026C</key>
  <string>uni026C_.glif</string>
  <key>uni0286</key>
  <string>uni0286.glif</string>
  <key>uni029D</key>
  <string>uni029D_.glif</string>
  <key>uni02CC</key>
  <string>uni02C_C_.glif</string>
  <key>uni0498</key>
  <string>uni0498.glif</string>
  <key>uni0499</key>
  <string>uni0499.glif</string>
  <key>uni04A0</key>
  <string>uni04A_0.glif</string>
  <key>uni04A1</key>
  <string>uni04A_1.glif</string>
  <key>uni1D00</key>
  <string>uni1D_00.glif</string>
  <key>uni1D16</key>
  <string>uni1D_16.glif</string>
</dict>
</plist>
