<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>numb</key>
  <array>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
  </array>
  <key>osf</key>
  <array>
    <string>zero.osf</string>
    <string>one.osf</string>
    <string>two.osf</string>
    <string>three.osf</string>
    <string>four.osf</string>
    <string>five.osf</string>
    <string>six.osf</string>
    <string>seven.osf</string>
    <string>eight.osf</string>
    <string>nine.osf</string>
  </array>
  <key>osf.pnum</key>
  <array>
    <string>zero.osf</string>
    <string>one.osf</string>
    <string>two.osf</string>
    <string>three.osf</string>
    <string>four.osf</string>
    <string>five.osf</string>
    <string>six.osf</string>
    <string>seven.osf</string>
    <string>eight.osf</string>
    <string>nine.osf</string>
  </array>
  <key>subs</key>
  <array>
    <string>uni2080</string>
    <string>uni2081</string>
    <string>uni2082</string>
    <string>uni2083</string>
    <string>uni2084</string>
    <string>uni2085</string>
    <string>uni2086</string>
    <string>uni2087</string>
    <string>uni2088</string>
    <string>uni2089</string>
  </array>
  <key>sups</key>
  <array>
    <string>uni2070</string>
    <string>uni00B9</string>
    <string>uni00B2</string>
    <string>uni00B3</string>
    <string>uni2074</string>
    <string>uni2075</string>
    <string>uni2076</string>
    <string>uni2077</string>
    <string>uni2078</string>
    <string>uni2079</string>
  </array>
  <key>tf</key>
  <array>
    <string>zero.tf</string>
    <string>one.tf</string>
    <string>two.tf</string>
    <string>three.tf</string>
    <string>four.tf</string>
    <string>five.tf</string>
    <string>six.tf</string>
    <string>seven.tf</string>
    <string>eight.tf</string>
    <string>nine.tf</string>
  </array>
  <key>tosf</key>
  <array>
    <string>zero.tosf</string>
    <string>one.tosf</string>
    <string>two.tosf</string>
    <string>three.tosf</string>
    <string>four.tosf</string>
    <string>five.tosf</string>
    <string>six.tosf</string>
    <string>seven.tosf</string>
    <string>eight.tosf</string>
    <string>nine.tosf</string>
  </array>
</dict>
</plist>
