<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Chook</key>
  <string>C_hook.glif</string>
  <key>Ereversed</key>
  <string>E_reversed.glif</string>
  <key>Kabashkcyr</key>
  <string>K_abashkcyr.glif</string>
  <key>Khook</key>
  <string>K_hook.glif</string>
  <key>Zetailcyr</key>
  <string>Z_etailcyr.glif</string>
  <key>ccurl</key>
  <string>ccurl.glif</string>
  <key>dhook</key>
  <string>dhook.glif</string>
  <key>eshcurl</key>
  <string>eshcurl.glif</string>
  <key>ezhcurl</key>
  <string>ezhcurl.glif</string>
  <key>hv</key>
  <string>hv.glif</string>
  <key>jcrossedtail</key>
  <string>jcrossedtail.glif</string>
  <key>kabashkcyr</key>
  <string>kabashkcyr.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>lbelt</key>
  <string>lbelt.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>uni02C8</key>
  <string>uni02C_8.glif</string>
  <key>uni02CC</key>
  <string>uni02C_C_.glif</string>
  <key>zcurl</key>
  <string>zcurl.glif</string>
  <key>zetailcyr</key>
  <string>zetailcyr.glif</string>
</dict>
</plist>
