<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>AE.sc</key>
  <string>A_E_.sc.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>aogonek</key>
  <string>aogonek.glif</string>
  <key>estimated</key>
  <string>estimated.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>uni0184</key>
  <string>uni0184.glif</string>
  <key>uni025E</key>
  <string>uni025E_.glif</string>
  <key>uni0277</key>
  <string>uni0277.glif</string>
  <key>uni027B</key>
  <string>uni027B_.glif</string>
  <key>uni042A</key>
  <string>uni042A_.glif</string>
  <key>uni20BA</key>
  <string>uni20B_A_.glif</string>
  <key>uni2208</key>
  <string>uni2208.glif</string>
  <key>uni2227</key>
  <string>uni2227.glif</string>
  <key>uni22A0</key>
  <string>uni22A_0.glif</string>
  <key>uni25CB</key>
  <string>uni25C_B_.glif</string>
  <key>uniA7B4</key>
  <string>uniA_7B_4.glif</string>
</dict>
</plist>
