<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>AE.sc</key>
  <string>A_E_.sc.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>aogonek</key>
  <string>aogonek.glif</string>
  <key>circle</key>
  <string>circle.glif</string>
  <key>element</key>
  <string>element.glif</string>
  <key>estimated</key>
  <string>estimated.glif</string>
  <key>logicaland</key>
  <string>logicaland.glif</string>
  <key>squaredtimes</key>
  <string>squaredtimes.glif</string>
  <key>uni0184</key>
  <string>uni0184.glif</string>
  <key>uni025E</key>
  <string>uni025E_.glif</string>
  <key>uni0277</key>
  <string>uni0277.glif</string>
  <key>uni027B</key>
  <string>uni027B_.glif</string>
  <key>uni042A</key>
  <string>uni042A_.glif</string>
</dict>
</plist>
